@model scheduler.Models.Event

@{
    ViewData["Title"] = Model.Title;
}

<h2>Событие @Model.Title</h2>


<form asp-action="Info" asp-controller="Event" asp-anti-forgery="true" method="get">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="User.Nickname">Никнейм создателя: @ViewData["Nick"] </label>
        </div>
        <div class="form-group">
            <label asp-for="BeginDate">Дата начала</label>
            <time>@Model.BeginDate</time>
        </div>
        <div class="form-group">
            <label asp-for="EndDate">Дата конца</label>
            <time>@Model.EndDate</time>
        </div>
        <div class="form-group">
            <a type="submit" value="Записаться" class="btn btn-outline-dark" asp-controller="DateEvent" asp-action="Subscribe" asp-route-id="@Model.Id">Записаться</a>
        </div>
        <div class="form-group">
            <input asp-controller="Event" asp-action="CalculateDates" asp-route-id="@Model.Id" type="submit" value="Подсчитать" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
